.contact-container {
    padding: 10rem 6rem;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-items: center;
    margin: 0 auto;
}

.contact-title {
    color: #fff;
    font-size: 1.8rem;
    margin-bottom: 1.2rem;
    letter-spacing: 0.5px;
}

.contact-form {
    background-color: #5661C3;
    width: 30rem; 
    border-radius: 8px;
}

.contact-form input, 
.contact-form textarea {
    display: block;
    border-radius: 6px;
    width: 95%;
    margin: 0.7rem auto;
} 

.contact-form input {
    padding: 0.7rem;
}

.contact-form label {
    color: #f5f5f5;
    font-size: 1.2rem;
    letter-spacing: 0.7px;
}


.contact-button {
    height: 3rem;
    width: 7rem;
    border-radius: 6px;
    color: #050505;
    letter-spacing: 0.7px;
    background-color: #007bff;
    margin: 0 1rem 0.7rem;
} 

.contact-info {
    background-color: #007bff;
    color: #000;
    inset: 1;
    width: 17rem;
    letter-spacing: 0.7px;
    line-height: 1.5;
    border-radius: 5px;
}

.info-title {
    font-size: 1.4rem;
}

.info {
    color: #f5f5f5;
    padding-bottom: 0.5rem;
}

@media screen and (max-width: 55em) {
    .contact-container {
        padding: 10rem 0;
    }

    .contact-form {
        width: 25rem; 
    }

    .contact-info {
        width: 15rem;
    }

}

    @media screen and (max-width: 35em) {
        .contact-container {
            grid-template-columns: auto;
        }

        .contact-info {
            margin: 3rem 8rem 0 0;
            width: 17rem;
        }

    }    