.home-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-items: center;
    padding: 14rem ;
}

.me-photo {
    inset: 1;
    height: 25rem;
}

.business-card {
    display: grid;
    grid-template-columns: 29rem;
    grid-template-rows: 5rem;
    background-color: #F5F5F5;
    border-radius: 5px;
    margin-top: 2rem;
    line-height: 1.5;
}

.business-card p {
    letter-spacing: 1px;
}

.role {
    padding-top: 1.3rem;
}

.social-contact {
    padding: 0.5rem 0 1.5rem 0;
}

.social-icons {
    color: black;
    padding-right: 0.5rem;
    font-size: 1.5rem;
}

 .social-icons:hover {
   font-size: 1.3rem;
}

@media screen and (max-width: 70em) {
    .home-container {
        justify-items: normal;
        align-items: start;
        padding: 19rem 4rem;
    }

    .me-photo {
        height: 20rem;
    }

    .business-card {
        grid-template-columns: 20rem;
        grid-template-rows: 2.5rem;
        margin: auto auto;
    }


    .role {
        font-size: 25px;
        padding-top: 0;
    }

    .social-contact {
        padding: 0;
    }

}

@media screen and (max-width: 55em) {
    .home-container {
        grid-template-columns: auto;
        justify-items: normal;
        align-items: start;
    }

    .me-photo {
        height: 15rem;
        order: 1;
        margin: 0 auto;
    }

    .business-card {
        grid-template-columns: 20rem;
        order: 2;
        margin: 0 auto;
    }

}

@media screen and (max-width: 35em) {
    .home-container {
        justify-items: center;
        align-items: center;
    }

    .me-photo { 
        height: 13rem; 
        margin: 0 auto;
    }

    .business-card {
        grid-template-columns: 19rem;
        margin: 0 auto;
    }


}


@media screen and (max-width: 25em) {
    .me-photo { 
        height: 10rem; 
        margin: 0 auto;
    }

    .business-card {
        grid-template-columns: 16rem;
        margin: 0 auto;
        overflow: hidden;
    }

    .role {
        font-size: 21px;
    }
}


@media screen and (max-width: 20em) {
    .business-card {
        grid-template-columns: 11rem;
        grid-template-rows: 1rem;
        margin-left: 0.1rem;
    }

    .me-photo { 
        height: 6rem;
    }
    .role {
        font-size: 15px;
    }
}

@media screen and (max-width: 15em) {
    .business-card {
        margin-right: 3rem;
    }

}



