.cardStyle, .blog-card {
    width: 18rem;
}

.blog-card {
    display: inline-block;
    position: relative;
    bottom: 360px;
    left: 350px;
}

@media screen and (max-width: 480px) {
    .blog-card {
        top: 15px;
        left: 0;
    }
    
}