.cardStyle, .blog-card{
    width: 18rem;
}

.blog-card, .nails-card  {
    display: inline-block;
    position: relative;

}

.blog-card {
    left: 25rem;
    bottom: 22.5rem;
}

.nails-card {
    width: 17.5rem;
    left: 50rem;
    bottom: 45.3rem;
}

.nails-image {
    height: 12.3rem;
}

@media screen and (max-width: 480px) {
    .blog-card, .nails-card {
        left: 0;
    }

    .blog-card {
       top: 15px;
    }

    .nails-card {
        top: 45px;
    }
}